<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>
<body>
    <div id="app">
        <!--el id del div es el que pasa al script-->
        <h1> {{ titulo }} </h1>
        <h1> {{ mayusculasTexto }} </h1>
        <h2> {{ cantidad }} </h2>
        <h2> {{ cantidad >= 1000 ? 'Es mayor o igual a mil': 'Es menor a mil' }} </h2>
        <!--colorCantidad es equivalente a colocar
        :class="[cantidad > 500 ? 'text-success' : 'text-danger']
        pero el código se ubica como método en el archivo JS "-->
        <h2
            class ="bg-dark"
            :class = "colorCantidad">
            Mi saldo disponible es de: {{ cantidad }} </h2>
        
        <a v-bind:href= enlace>Ir al enlace</a>
        <a :href="enlace">Ir al enlace</a>
        <hr>
        <h2 v-if="estado">Cuenta Activa</h2>
        <h2 v-else="estado">Cuenta Desactivada</h2>
        <hr>

        <h2 v-if="cantidad > 500">Cantidad: {{cantidad}}</h2>
        <h2 v-else-if="cantidad <= 500 && cantidad > 0">
            Cantidad:
            <span style="color:blue">{{ cantidad }}</span>
        </h2>
        <h2 v-else>Sin cantidad: {{cantidad}}</h2>

        <hr>
        <!--Versión tradicional de presentar la información--> 
        <h2>Mis servicios disponibles</h2>
        <ul>
            <li>Transferencias</li>
            <li>Pagos</li>
            <li>Giros</li>
        </ul>
        <!--Forma facilitada con Vue-->
        <!--Dos puntos (:key) se trabaja de forma dinámica-->
        <h2>Mis servicios disponibles</h2>
        <ul>
            <!--se usa (item, index) para agregar un indice 
            que no esté en el data()-->
            <li v-for="(item, index) in servicios" :key="index">{{index + 1}} - {{ item }}</li>
        </ul> 
         
        <hr>
        <button v-on:click="agregarSaldo">Agregar Saldo</button>
        <!--Abreviatura de v-on:click es @click-->
        <button @click="agregarSaldo">Agregar Saldo</button>
        <hr>
        <button @click="disminuirSaldo(100)" :disabled="desactivar">Disminuir Saldo</button>

        <!--Bloque que va a ser llevado al componente footer
        <div class="bg-dark py-3 mt-2 text-white">
            <h3>Footer de mi sitio web</h3>
        </div>
        -->
        <footer-banco></footer-banco>
        <!--Trabajo con props
        cantidad viene del main.js, el nombre :valor para el caso
        es el que viene del componente propiamente -->
        <footer-banco 
            :valor = "cantidad" 
            fecha = "noviembre 16"
        ></footer-banco>
        
    </div>
    <!--Primero se llama el main porque al inicio se llama app a la que
    estamos accediendo, y si no vamos al main primero no tendríamos
    cómo acceder desde footer a un llamado que va desde el main-->
    <script src="main.js"></script>
    <script src="componentes/Footer.js"></script>
    <!--Siempre el mount debe ir después del archivo js asociado-->
    <script>
        const mountedApp = app.mount('#app');
    </script>
</body>
</html>